/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
#bulletin-board {
    width: 900px;
    margin: 0 auto;
}

.post-it {
    display: inline-block;
    width: 200px;
    height: 200x;
    font-family: Arial, Helvetica, sans-serif;
    margin: 24px;
    padding: 24px;
    vertical-align: top;
    box-sizing: border-box;
}
.yellow {
background-color: #fff59d;
}

.pink {
    background-color: #f8bb9d;
}

.blue {
    background-color: #bbdefb;
}

.green {
background-color: #c8e6c9;
}
.post-it img {
    display: block;
    margin: bottom 10px;
}