*{
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    padding: 20px;
 
};
img {
    display: block;
    max-width: 100%;
}

#frame-one {
    width: 300px;
    border: 5px  solid #b91313;
    background-color: #bb1c1c;
    padding: 15px;
    margin: 20px;
    overflow: hidden;
}

#frame-two {
    width: 300px;
    height: 300px;
    border: 5px solid #6f0e5b;
    background-color: #441010;
    padding: 15px;
    margin: 20px;
    border-radius: 50%;
    overflow: hidden;
}

#frame-three {
    display: inline-block;
    width: 300px;
    border: 4px solid #c71893;
    background-color: #9b7b7b;
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}